.mapping-box {
    margin: 15px 0 20px 0;
    width: 700px;
}

.mapping-data {
    margin-top: 10px;
    border-top: 1px solid #dcdee2;
    width: 100%;
}

.mapping-arrow {
    display: inline-block;
}

.mapping-row {
    width: 40%;
    display: inline-block;
}

.mapping-del {
    color: red;
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.mapping-scroll {
    padding-left: 35px;
    margin-top: 10px;
    border-top: 1px solid #dcdee2;
    border-bottom: 1px solid #dcdee2;
    border-left: 1px solid #dcdee2;
    margin-left: 60px;
}

.mapping-button {
    margin-left: 60px;
    padding-bottom: 20px;
}

.mapping-button button {
    width: 100%;
    margin-top: 10px;
}