.select {
    background-color: #ece7e7;
}

.item {
    margin: 5px 0;
    border: 1px solid #80808059;
    padding: 5px 0;
    border-radius: 5px;
}

.item-icon {
    font-size: 18px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: text-bottom;
}

.left {
    height: 100%;
    padding: 0 10px;
    display: inline-block;
    border-right: 1px solid #dcdee2;
    width: 200px;
}

.right {
    width: calc(100% - 220px);
    display: inline-block;
    margin: 10px 10px;
    vertical-align: top;
    height: 100%;
    overflow-y: scroll;
}

.add {
    border: 1px dashed #80808099;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.result {
    background-color: #080606bd;
    color: #ffffff;
    min-height: 350px;
    max-height: 500px;
    font-size: 14px;
    overflow-y: scroll;
}

.result ul {
    list-style: none;
    margin: 0px;
    padding: 5px 0 0 0;
}

.result ul li {
    padding: 0px;
    margin: 2px 0 2px 10px;
}